*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body{
          width: 100%;
          height: 100vh;
          background: black;
}

.container{
          max-width: 800px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          width: 100%;
          height: 100vh;
}

.video__container{
          position: relative;
          overflow: hidden;
}

video{
          width: 100%;
}

.controls{
          background: rgba(255, 255, 255, 0.639);
          backdrop-filter: blur(100px);
          position: absolute;
          bottom: 0px;
          width: 100%;
          transform: translateY(90%);
          transition: 0.5s ease;
}

.button{
          width: 100%;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 5px 10px;
}

button{
          border: none;
          outline: none;
          background: rgb(255, 60, 0);
          width: 30px;
          height: 30px;
          cursor: pointer;
          font-weight: bolder;
          font-size: 20px;
          color: white;
          transition: 0.5s ease;
}

.orange-bar{
          width: 100%;
          height: 6px;
}

.orange__juice{
          background: rgb(255, 60, 0);
          width: 100%;
          height: 100%;
}

.video__container:hover .controls{
          transform: translateY(0);
}
